.flex (@d: row, @fw: nowrap, @j: center, @ai: center, @ac: center ){
    display: flex;
    flex-direction: @d;
    flex-wrap: @fw;
    justify-content: @j;
    align-items: @ai;
    align-content: @ac;
};